<%- if devise_mapping.omniauthable? %>
<div class="span4 corner_gradient floatright">
<h1>...or Sign-in with..</h1>


	<div class = "provider_logos span2">
		<%= link_to image_tag("facebook.png"), "/users/auth/facebook" %>
		<%= link_to "...with Facebook", "/users/auth/facebook" %>
		<%= link_to image_tag("twitter.png"), "/users/auth/twitter" %>
		<%= link_to "...with Twitter", "/users/auth/twitter" %>
		<%= link_to image_tag("linkedin.png"), "/users/auth/linkedin" %>
		<%= link_to "...with LinkedIn", "/users/auth/linkedin" %>
	</div>
</div>
<% end -%>
