<div class = "corner_gradient unsupported" style="margin-right: auto; margin-left: auto; width: 382px;">
	<h2>You have an old browser.</h2>
	<p>
		<blockquote>
			<p>
				<%= t('.unsupported', :default => "Unfortuately OpeningDesign.com does not work with your outdated browser.  Please update your browser, or go <a href='http://www.browser-update.org/update.html'>here</a> to learn how.".html_safe) %>
			</p>
		</blockquote>
		...or download a different browser.  These work the best...

		<ul>
			<li>
				<%= link_to "Chrome", "https://www.google.com/intl/en/chrome/browser/" %>
			</li>
			<li>
				<%= link_to "Firefox", "http://www.mozilla.org/en-US/firefox/new/" %>
			</li>
						<li>
				<%= link_to "Opera", "http://www.opera.com/" %>
			</li>
									<li>
				<%= link_to "Safari", "http://www.apple.com/safari/" %>
			</li>
		</ul>

		<a style="float: right;" href="http://www.openingdesign.com/about.php"> <img alt="really old" class="" height="125" src="/images/beard.gif" width="125"/> </a>
	</p>
</div>