  <div class="row corner_gradient">
<h1><%= @user.display_name %>
<% if operator? %>
  (<%= link_to 'Edit', edit_user_path(@user) %>)
<% end %>
<% if @can_subscribe %>
  <%= link_to_with_icon t(".subscribe", :default => "Subscribe"), user_subscribe_path(@user), :method => 'post', :icon => 'bullhorn', :class => 'btn btn-primary' %>
<% end %>
<% if @can_unsubscribe %>
  <%= link_to_with_icon t(".unsubscribe", :default => "Unsubscribe"), user_unsubscribe_path(@user), :method => 'post', :icon => 'bullhorn', :class => 'btn btn-primary' %>
<% end %>
</h1>

<% if @latest_activities.count > 0 %>
  <div class=" corner_gradient span7">
    <h2>Latest activities of <%= @user.first_name %></h2>
    <ul class="activities">
      <%= render @latest_activities %>
    </ul>
  </div>

<% end %>

<div class=" corner_gradient span3">
  <% if @user.projects.count > 0 %>
    <h2><%= @user.first_name %> owns <%= pluralize @user.root_projects.count, "project" %></h2>
    <%= render :partial => '/projects/list_of_projects', :object => @user.root_projects.order("created_at DESC") %>
  <% else %>
    <%= @user.first_name %> does not own any projects.
  <% end %>
</div>


  </div>