<%= form_for(@sketchspace) do |f| %>
  <%= f.hidden_field :parent_id %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "required", :minlength => 6, :size => SimpleConfig.name_field_size %>
    <div class="validation_feedback"></div>
  </div>
  <div class="field description">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 4, :class => "required" %>
    <div class="validation_feedback"></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <script>
    $("#sketchspace_description").charCount({
      validationSelector: 'div.description .validation_feedback'
    });
    $(".edit_sketchspace,.new_sketchspace").validate({
      errorPlacement: function(error, element) {
        element.parent().children('.validation_feedback').append(error);
      }
    });
  </script>
<% end %>
