<div class = "relative_position openaec">
	<div class = "span12 corner_gradient ">
		<h1>openAEC Challenge - the Collaboration Competition</h1>

		<ul id="myTab" class="nav nav-tabs">
			<li class="active">
				<a href="#overview" data-toggle="tab">° Overview</a>
			</li>
			<li class="">
				<a href="#how" data-toggle="tab">° How Different?</a>
			</li>
			<li class="">
				<a href="#project" data-toggle="tab">° The Project</a>
			</li>
			<li class="">
				<a href="#program" data-toggle="tab">° The Program</a>
			</li>
			<li class="">
				<a href="#register" data-toggle="tab">° Registering</a>
			</li>
			<li class="">
				<a href="#charrettes" data-toggle="tab">° Charrettes & Peer Reviews</a>
			</li>
			<li class="">
				<a href="#voting" data-toggle="tab">° Voting & Prizes</a>
			</li>


		</ul>

		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in span8" id="overview">
				<p>
					<h3>The openAEC Challenge</h3>

					<blockquote>
						<small>Sound-Bite Objective: </small>
						<p>
							The OpenAEC Challenge is an architectural “competition” where the criteria for winning is based on how well you collaborate with others and NOT on how well you design in isolation.  In that sense, it’s less a competition, and more a <strong>challenge</strong>.
						</p>
					</blockquote>

				<p>
					<%= image_tag("/images/globe.png", :size => "190x170", :class => "floatleft openaec_image") %>
					The sole purpose of this Challenge is to abolish a pervasive myth undoubtedly shared by a vast majority of architectural students around the world: <strong><em>That real-world buildings are designed by a sole, mastermind architect, working in isolation.</em></strong>
				<p>
					Although, most architecture professors would never promote this myth explicitly, and for the most part, know and wholeheartedly agree that even the smallest building requires a vast amount of professional collaboration, we feel the myth, nonetheless, is implicitly endorsed when students typically spend their entire semester designing in relative isolation.   Undoubtedly there are many professors that encourage, and even require their students to tap into the experience and opinions of other disciplines, but unfortunately, they are more the exception than the rule.
				</p>
				</p>
				<p>
					With the OpenAEC Challenge we hope to provide a means by which AEC students, throughout the world, can gain a more realistic picture of the construction industry and have an opportunity to experience, first hand, the necessity of cross-discipline collaboration in the profession.
				</p>

				</p>
			</div>
			<div class="tab-pane fade span8" id="how">
				<h3>How is this Competition/Challenge Different?</h3>
				<blockquote>
					<p>
						The OpenAEC is a unique type of architectural competition.  Unlike a typical competition, where the criteria for winning is solely based on how successful the final submission is, the criteria for winning the OpenAEC Challenge will be solely based based on how well the participants <strong>collaborate, integrate, and build off each other’s ideas.</strong>
					</p>
				</blockquote>
				<p>

					Although the final design is important, for this Challenge we want to award collaboration and integration of the ideas, first and foremost.  In the end, we feel the final design will be even more robust, having gone through the rigors of such a collaborative and integrated approach.
				</p>
				<p>
					The Challenge will be broken down into eight, two-week long phases or <strong>charrettes</strong>, over the length of the Fall semester, 2012.  OpenAEC participates will use the OpeningDesign.com to share their digital documents and to conduct real-time Peer Reviews via their whiteboarding tool: <strong>SketchSpace™</strong>.

				<p>
					Although we anticipate and encourage continual collaboration and cross-fertilization among the various participants and teams throughout the duration of the project, we will coordinate two specific days within every two-week phase, where participants can come together, via the OpeningDesign.com platform, and critique each other’s work in real-time.
				</p><%= image_tag("/images/remixing.png", :size => "606x271", :class => "openaec_image") %>
				</p>
				<p>
					After any one phase, the Challenge participants are encouraged and expected to re-use and re-appropriate the ideas and content (CAD/BIM files) submitted by others in earlier phases.

					<blockquote>
						<p>
							<strong>In other words, copying and using other’s work is not just encouraged in this Challenge, it’s essential!</strong>
						</p>
					</blockquote>

				</p>
				<p>
					Unlike a typical competition, the participants will be voting on the designs, not some panel of arbitrary juriers. The ultimate winners of the Challenge will be those teams/individuals who have won the most phases throughout the semester.
				</p>

			</div>
			<div class="tab-pane fade span8" id="project">
				<h3>Flocktown Farms: Re-inventing the Farm</h3>
				<blockquote>
					<p>
						“A more radical transformation of agriculture is needed, one guided by the notion that ecological change in agriculture cannot be promoted without comparable changes in the social, political, cultural and economic arenas that also conform agriculture.”
						<small>Miguel A. Altieri - University of California, Berkeley</small>
					</p>
				</blockquote>
				<p>
					Flocktown Farm, in collaboration with its partners, The Palmer Foundation and <%= link_to "LIMN ARCHITECTS", "http://limnarchitects.com/", :target => '_blank' %>, is currently entering the master planning phase to launch a diversified sustainable agricultural enterprise.  Utilizing and reflecting ecological design principles through cross disciplinary collaboration, Flocktown Farm will be a laboratory for innovating sustainable agriculture, agritourism and social enterprise.  Elements of the master plan will be delivered through an ongoing transparent design/build process that cultivates connectivity at every level.
				</p>

				<p>
					The Flocktown Farm master plan must convey a design strategy that embraces relationships through the integration of biological and technological intelligence and experience as a yield.  Elements of the master plan will be designed to last, to adapt and to inspire. This approach will result in a regenerative Flocktown Farm organism.
				</p>

				<p>
					The Farm will market directly to consumers and restaurants with a focus on creating long-term interactive relationships.  Restaurants and chefs will have the option to engage in a seasonally based custom design process integrating specified plantings and growing practices with seasonal menu changes.  Additionally, Flocktown Farm’ picturesque site and facilities are available to its customers for use as a venue for culinary, private and public events.
				</p>

			</div>
			<div class="tab-pane fade span8" id="program">
				<h3>The Program</h3>

				<p>
					Although we are providing the kernel of the program for the Flocktown Farm Project, the program is by no means set in stone.  The Palmer Foundation and <%= link_to "LIMN ARCHITECTS", "http://limnarchitects.com/", :target => '_blank' %> would like to work closely with you, the Challenge Participants, in adjusting the program as needed in light of new opportunities, partnerships, and ideas that will undoubtedly be offered up during the 4-month Challenge.
				</p>

				<p>
					You are encouraged to use the following <strong>discussion node</strong> to articulate your arguments for adjusting the program throughout the duration of the Challenge.  This is where the “official program” for the project resides, as well.
				</p>
				<p>
					<br>
					<%= link_to_with_icon "The Program (discussion node)", "/sketchspaces/692", :icon => 'plus', :class => 'btn btn-primary', :target => '_blank' %>
					<br><br><br>
				</p>

				<h3>Site Information</h3>
				<p>
					All information, such as surveys, photos, videos, and drawings associated with the 48-acre (19.5 hectare) Flocktown Farm site, will be located in <%= link_to "this sub_Space", "/projects/667", :target => '_blank' %>.
				</p>

			</div>
			<div class="tab-pane fade span8" id="register">
				<h3>Registering</h3>
				<blockquote>
					<p>
						This Challenge is open to anyone that would like to participate.  Although it’s advisable to register before the first <strong>Charrette Phase</strong> (August 24th, 2012), since this is a phased Challenge and anyone, at anytime, can submit ideas throughout its 4-month duration, there is no deadline for registering.
					</p>
				</blockquote>
				<h3>To Register - 3 steps...</h3>
				<ol>
					<li>
						First go <%= link_to "here", "/d/users/sign_up", :target => '_blank' %> and create an account on OpeningDesign.com.
					</li>
					<li>
						After registering an account, go to this <%= link_to "Competition Participates & Students", "/projects/655", :target => '_blank' %> node and create a series of<%= image_tag("/assets/project.png", :size => "32x32", :class => "") %> <strong>sub_spaces nodes</strong> (aka folders) and <%= image_tag("/assets/sketchspace.png", :size => "32x32", :class => "") %><strong>discussion nodes</strong> that match the following tree hierarchy.  This tree of nodes is called your <strong>Project Tree</strong>.
						<br>
						<br>
						<div class="accordion" id="accordion2">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">click here to see the hierarchy of nodes you should create in your own Project Tree</a>
								</div>
								<div id="collapseTwo" class="accordion-body collapse">
									<div class="accordion-inner">
										<br>
										<h3>*Note: Only create or add those nodes indicated in <span class = "blue">blue</span></h3>

										<ul>
											<li>
												OpenAEC Challenge: a Collaboration Competition
												<ul>
													<li>
														Flocktown Farms
														<ul>
															<li>
																Stakeholders
																<ul>
																	<li>
																		Competition Participants & Students

																		<ul>
																			<li class = "blue">
																				***Your Name Here***<span class = "gray">Here, down, is your <strong>Project Tree</strong></span>
																				<ul>
																					<li class = "blue">
																						Working sub_Space
																						<ul>
																							<li class = "gray">
																								This will be where all your ongoing working files will be located throughout the Challenge and where, ultimately, you can collaborate with other professionals, whether they are registered participants in the competition or not.
																							</li>
																							<li class = "gray">
																								To give your outside collaborators permissions to delete, move, add new document versions, add them as a <strong>collaborator</strong> to your Project Tree.
																							</li>
																							<li class = "gray">
																								Again, participants can create as many <em> <%= image_tag("/assets/document.png", :size => "32x32", :class => "") %>document, <%= image_tag("/assets/sketchspace.png", :size => "32x32", :class => "") %>discussion, or <%= image_tag("/assets/project.png", :size => "32x32", :class => "") %>sub_space</em> nodes as they see fit.  For these reasons, your <strong>Working sub_Space</strong> will most likely be the most active 'space' during the Challenge.
																							</li>
																						</ul>

																					</li>
																					<li class = "blue">
																						Peer Reviews <span class = "gray">The <strong>sub_Space node</strong> where all your presentation files will be located.</span>
																						<ul>
																							<li class = "blue">
																								CP-1 (Aug. 24th - Sept. 7th)<span class = "gray"> a sub_Space node</span>
																								<ul>
																									<li class = "blue">
																										Peer Review Discussion<span class = "gray"> a discussion node</span>
																									</li>
																								</ul>
																							</li>
																							<li class = "blue">
																								CP-2 (Sept. 7th - Sept. 21st)<span class = "gray"> a sub_Space node</span>
																								<ul>
																									<li class = "blue">
																										Peer Review Discussion<span class = "gray"> a discussion node</span>
																									</li>
																								</ul>
																							</li>
																							<li class = "blue">
																								CP-3 (Sept. 21st - Oct. 5th)<span class = "gray"> a sub_Space node</span>
																								<ul>
																									<li class = "blue">
																										Peer Review Discussion<span class = "gray"> a discussion node</span>
																									</li>
																								</ul>
																							</li>
																							<li class = "blue">
																								CP-4 (Oct. 5th - Oct. 19th)<span class = "gray"> a sub_Space node</span>
																								<ul>
																									<li class = "blue">
																										Peer Review Discussion<span class = "gray"> a discussion node</span>
																									</li>
																								</ul>
																							</li>
																							<li class = "blue">
																								CP-5 (Oct. 19th - Nov. 2nd)<span class = "gray"> a sub_Space node</span>
																								<ul>
																									<li class = "blue">
																										Peer Review Discussion<span class = "gray"> a discussion node</span>
																									</li>
																								</ul>
																							</li>
																							<li class = "blue">
																								CP-6 (Nov. 2nd - Nov. 16th)<span class = "gray"> a sub_Space node</span>
																								<ul>
																									<li class = "blue">
																										Peer Review Discussion<span class = "gray"> a discussion node</span>
																									</li>
																								</ul>
																							</li>
																							<li class = "blue">
																								CP-7 (Nov. 16th - Nov. 30th)<span class = "gray"> a sub_Space node</span>
																								<ul>
																									<li class = "blue">
																										Peer Review Discussion<span class = "gray"> a discussion node</span>
																									</li>
																								</ul>
																							</li>
																							<li class = "blue">
																								CP-8 (Nov. 30th - Dec. 14th)<span class = "gray"> a sub_Space node</span>
																								<ul>
																									<li class = "blue">
																										Peer Review Discussion<span class = "gray"> a discussion node</span>
																									</li>
																								</ul>
																							</li>

																						</ul>
																				</ul>
																		</ul>
																	</li>
																</ul>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>

									</div>
								</div>
							</div>
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"> ...here's another view (snapshot) of what each participate's Project Tree should look like on OpeningDesign.com</a>
								</div>
								<div id="collapseThree" class="accordion-body collapse">
									<div class="accordion-inner">
										<%= image_tag("/images/tree.jpg", :size => "493x664", :class => "") %>
									</div>
								</div>
							</div>
						</div>

					</li>
					<li>
						To keep abreast of any changes/announcements during the competition, participants should subscribe to this <%= link_to "Announcements' Node", "/projects/725", :target => '_blank'  %>.

						<div style="padding-top: 32px;" class="accordion" id="accordion4">

							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">How to subscribe to the Announcements' Node...</a>
								</div>
								<div id="collapseFour" class="accordion-body collapse">
									<div class="accordion-inner">
										<%= image_tag("/images/subscribe_to_announcement_node.jpg", :size => "650x119", :class => "") %>
									</div>
								</div>
							</div>
						</div>

					</li>
				</ol>
			</div>
			<div class="tab-pane fade span8" id="charrettes">
				<h3>Charrettes Phases and Peer Reviews</h3>
				<blockquote>
					<p>

						Although we anticipate and encourage day-to-day collaboration and cross-fertilization of ideas among the various participants during the Challenge, we have scheduled eight <strong>Peer Reviews</strong> throughout the fall semester, where you will be able to come together, with other participants, and have a more formal, real-time review and critique of your work.  Per the schedule below, peer reviews will take place in the last 2 days of each <strong>Charrette Phase</strong>.
					</p>
				</blockquote>
				<p>
					<ul>
						<li>
							<strong>CP-1 (August 24th - September 7th)</strong>
							<ul>
								<li>
									Peer Review
									<ul>
										<li>
											Thursday, September 6th, 2012
										</li>
										<li>
											Friday, September 7th, 2012
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<strong>CP-2 (September 7th - September 21st)</strong>
							<ul>
								<li>
									Peer Review
									<ul>
										<li>
											Thursday, September 20th, 2012
										</li>
										<li>
											Friday, September 21st, 2012
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<strong>CP-3 (September 21st - October 5th)</strong>
							<ul>
								<li>
									Peer Review
									<ul>
										<li>
											Thursday, October 4th, 2012

										</li>
										<li>

											Friday, October 5th, 2012
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<strong>CP-4 (October 5th - October 19th)</strong>
							<ul>
								<li>
									Peer Review
									<ul>
										<li>
											Thursday, October 18th, 2012

										</li>
										<li>

											Friday, October 19th, 2012
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<strong>CP-5 (October 19th - November 2nd)</strong>
							<ul>
								<li>
									Peer Review
									<ul>
										<li>
											Thursday, November 1st, 2012
										</li>
										<li>
											Friday, November 2nd, 2012
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<strong>CP-6 (November 2th - November 16th)</strong>
							<ul>
								<li>
									Peer Review
									<ul>
										<li>
											Thursday, November 15th, 2012

										</li>
										<li>

											Friday, November 16th, 2012
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<strong>CP-7 (November 16th - November 30th)</strong>
							<ul>
								<li>
									Peer Review
									<ul>
										<li>
											Thursday, November 29th, 2012
										</li>
										<li>
											Friday, November 30th, 2012
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<strong>CP-8 (November 30th - Dec. 14th)</strong>
							<ul>
								<li>
									Peer Review
									<ul>
										<li>
											Thursday, December 13th, 2012

										</li>
										<li>

											Friday, December 14th, 2012
										</li>
									</ul>
								</li>
							</ul>
						</li>

					</ul>

					<h3>Where will Peer Reviews take place?</h3>

				<p>
					Peer Reviews will take place in the <strong><%= image_tag("/assets/sketchspace.png", :size => "32x32", :class => "") %>Discussion Nodes</strong> of each participant's Project Tree.
					<br>
					(Go <%= link_to 'here', '#', :onclick => "$('#myTab li:eq(4) a').tab('show');"%>, or the '° Registering' tab above, for an explaination about a participant’s <strong>Project Tree</strong>).
				</p>
				<h3>When <strong>exactly</strong> are Peer Reviews?</h3>
				<p>
					We are leaving it up to you to pick the exact time, within the 2 day peer review window, that works best for you.  To help encourage your fellow peers to ‘stop by’ and help review your work, we highly suggest that you use the following link to schedule the exact time your review will take place.  This is also the place where you can see the schedules of other participants as well.
				<p>
					<%= link_to_with_icon "To Schedule a CP-2 (September 20th & 21st)", "https://doodle.com/9c6t3h9vapkzuz2c", :icon => 'plus', :class => 'btn btn-primary', :target => '_blank' %>
					<br>
					<br>
					<%= link_to_with_icon "To Schedule a CP-3 (October 4th & 5th)", "https://doodle.com/svnreughc4d88rxw", :icon => 'plus', :class => 'btn btn-primary', :target => '_blank' %>
					<br>
					<br>
					<%= link_to_with_icon "To Schedule a CP-4 (October 18th & 19th)", "https://doodle.com/gs9kk3t9yy6rynk9", :icon => 'plus', :class => 'btn btn-primary', :target => '_blank' %>
					<br>
					<br>
					<%= link_to_with_icon "To Schedule a CP-5 (November 1st & 2nd)", "https://doodle.com/mxvvxgcymyybm6ra", :icon => 'plus', :class => 'btn btn-primary', :target => '_blank' %>
					<br>
					<br>
					<%= link_to_with_icon "To Schedule a CP-6 (November 15th & 16th)", "https://doodle.com/xcqv286f5xvwpcvn", :icon => 'plus', :class => 'btn btn-primary', :target => '_blank' %>
					<br>
					<br>
					<%= link_to_with_icon "To Schedule a CP-7 (November 29th & 30th)", "https://doodle.com/gfyr9ifgqex553sh", :icon => 'plus', :class => 'btn btn-primary', :target => '_blank' %>
					<br>
					<br>
					<%= link_to_with_icon "To Schedule a CP-8 (December 13th & 14th)", "https://doodle.com/qw5nag63t7rsbyw9", :icon => 'plus', :class => 'btn btn-primary', :target => '_blank' %>
				</p>

				<p>
					Peer Reviews are optional, but are, obviously, in the best interest of the participant.
				</p>
				<ul>
					<li class = "gray">
						Also please note, that you can use the OpeningDesign <strong>activity stream</strong>, <%= link_to "here", "/", :class => '', :target => '_blank' %> to see the most recent activity on the site. It’s a good place to go to see who’s currently using the site and where you could 'jump in' to participate in a live Peer Review.
					</li>
				</ul>
				<h3>What to submit for each two-week Charrette Phase (CP)?</h3>

				There are only 3 requirements...
				<ol>
					<li>
						To allow <strong>peer reviewers</strong> to quickly understand the ideas and work you submitted for every two-week Charrette Phase, please submit a 250 word (minimum) summary of your work. Use the <strong><%= image_tag("/assets/sketchspace.png", :size => "32x32", :class => "") %>discussion nodes</strong> relative to your <strong>Project Tree</strong>. (Go <%= link_to 'here', '#', :onclick => "$('#myTab li:eq(4) a').tab('show');"%>, or the '° Registering' tab above, for an explaination about a participant’s <strong>Project Tree</strong>)
					</li>
					<li>
						In order to facilitate re-mixing and re-appropriation of your work, please submit native files for every two-week Charrette Phase—including, but not limited to...
						<ul>
							<br>
							<li>
								<%= image_tag("/images/revit.jpg", :size => "20x20", :class => "") %> Revit
							</li>
							<li>
								<%= image_tag("/images/archicad.jpg", :size => "20x20", :class => "") %> ArchiCAD
							</li>
							<li>
								<%= image_tag("/images/autocad.jpg", :size => "20x20", :class => "") %> AutoCAD
							</li>
							<li>
								<%= image_tag("/images/sketchup.jpg", :size => "20x20", :class => "") %> Sketchup
							</li>
							<li>
								<%= image_tag("/images/rhino.jpg", :size => "20x20", :class => "") %> Rhino
							</li>
							<li>
								<%= image_tag("/images/3dmax.jpg", :size => "20x20", :class => "") %> 3ds Max
							</li>
							<li>
								<%= image_tag("/images/photoshop.jpg", :size => "20x20", :class => "") %> Photoshop
							</li>
							<li>
								<%= image_tag("/images/illustrator.jpg", :size => "20x20", :class => "") %> Illustrator
							</li>
							<li>
								etc...etc..
							</li>
						</ul>
					</li>
					<br>
					<li>
						Along the same lines as requirement #2, if working with BIM software, please submit an <%= link_to ".IFC (Industry Foundation Classes) ", "http://en.wikipedia.org/wiki/Industry_Foundation_Classes" %>file(s) of your work as well.  Since <%= link_to ".IFC ", "http://en.wikipedia.org/wiki/Industry_Foundation_Classes" %> files are an open standard in the construction industry, it will allow a broader level of data sharing among the various participates of the Challenge.
						<%= link_to image_tag("/images/buildingsmart.jpg", :size => "25x25", :class => ""), 'http://buildingsmart.com/openbim/' %> &
						<%= link_to image_tag("/images/openbim.jpg", :size => "75x25", :class => ""), 'http://buildingsmart.com/openbim/' %>

					</li>
					<li>
						Well 4 actually... You are also required to vote on the work of other participants in the Challenge.  Go to the <%= link_to '° Jury, Voting, and Prizes', '#', :onclick => "$('#myTab li:eq(6) a').tab('show');"%> tab above, to learn how voting works.

					</li>
				</ol>

				<h3>What we suggest to submit.</h3>

				<p>
					Since these charrettes phases are short two-week stints of work, final presentation drawings for each charrette phase is most likely overkill.  We would recommend, however, that you compose your ideas in a way that others can quickly get up to speed.  In this way, these two-week Peer Reviews can be compared, and are similar to a typical <strong>pin-up critique</strong> in studio--just done virtually.
				</p>

				<h3>How Content will be Licensed?</h3>

				<p>
					Since the objective of this competition is based around collaboration, and content (BIM/CAD/etc.) and ideas will be re-mixed on a hyper and dynamic level, ownership will be hard to parse out.  In that way, we are requiring all content submitted to the competition be licensed under the following <%= link_to "CopyLeft", "http://en.wikipedia.org/wiki/Copyleft", :target => '_blank' %> Creative Commons License: <%= link_to "Attribution 3.0 Unported (CC BY 3.0", "http://creativecommons.org/licenses/by/3.0/", :target => '_blank' %>)
				</p>

			</div>
			<div class="tab-pane fade span8" id="voting">
				<h3>Who is the Jury?</h3>
				<blockquote>
					<p>
						You, the Challenge Participants, are the jury!  Voting will take place on the OpeningDesign.com platform.  Everyone is granted 10 votes per two-week Charette Phase and is required, every phase, to cast their votes on the work of other participants.
					</p>
				</blockquote>
				<p>
					Votes can be cast on any <strong>node</strong><em> (<%= image_tag("/assets/document.png", :size => "32x32", :class => "") %>document, <%= image_tag("/assets/sketchspace.png", :size => "32x32", :class => "") %>discussion, or <%= image_tag("/assets/project.png", :size => "32x32", :class => "") %>sub_space)</em> throughout the entire <strong>Space</strong> dedicated to the competition.  Participates cannot vote on their own nodes.
				</p>

				<p>
					To vote, click on the voting button <%= image_tag("/images/votingbutton.jpg", :size => "43x20", :class => "") %> to the right of every node.  It opens a <strong>voting dial</strong>, like the one seen here.  Votes can range from 0°(worst) to 360°(best)
				</P>  <%= image_tag("/images/votingdial.jpg", :size => "101x101", :class => "floatleft openaec_image") %>

				<p>
					The core professionals associated with the Flocktown Farms project, such as the owner, architect, engineer, and municipality will also have votes as well.
				</p>



				<h3 class = "clearleft">Suggested Criteria for Judging Work</h3>
				<p>
					Ultimately the specific criteria you use to cast your votes is up to you, but this <%= image_tag("/assets/sketchspace.png", :size => "32x32", :class => "") %> <%= link_to "discussion node", "/sketchspaces/727", :target => '_blank' %> will be used to keep an ongoing list of suggested criteria you might use to judge your fellow participant's work.  Professors, students, and participants in general, are encouraged to use this discussion node to add additional criteria to the list.
				</p>

				<h3>Prize Awards</h3>
				<blockquote>
					<p>
						The award prizes, generously supplied by <%= link_to "LiMN ARCHITECTS", "http://limnarchitects.com/", :target => '_blank' %>

						, will be distributed in the following fashion, to the top ten winners of the challenge.  Winners, again, are those teams/individuals who have won, by community vote, the most number of Charrette Phases throughout the 4-month Challenge.
					</p>
				</blockquote>
				<ul style="
				padding-left: 97px;
				font-size: 15px;
				color: #666;
				">
					<li>
						1st Place: $4,509
					</li>
					<li>
						2nd Place: $1,968
					</li>
					<li>
						3rd Place: $859
					</li>
					<li>
						4th Place: $375
					</li>
					<li>
						5th Place: $164
					</li>
					<li>
						6th Place: $71
					</li>
					<li>
						7th Place: $31

					</li>
					<li>
						8th Place: $14

					</li>
					<li>
						9th Place: $6
					</li>
					<li>
						10th Place: $3
					</li>
				</ul>

				<br>

				</p>
			</div>

		</div>
	</div>

	<div class = "span3 openaec_rightcol">
		<%= image_tag("/images/openAEC.png", :size => "125x125", :class => "openaec_logo") %>
		<div class = "corner_gradient">
			<h1>Partners</h1>
			<%= link_to image_tag("/images/LIMN.jpg", :size => "125x125", :class => ""), 'http://limnarchitects.com/', :target => '_blank' %>

			<%= image_tag("/images/palmer.jpg", :size => "125x63", :class => "") %>
			<%= link_to image_tag("/images/od_logo_small.png", :size => "125x125", :class => "", :target => '_blank'), 'http://www.openingdesign.com/about.php'  %>
			<div style="padding-top: 32px;" class="accordion" id="accordion3">

				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">Join as a partner?</a>
					</div>
					<div id="collapseOne" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>
								As Margaret Mead once said, <em>"Never doubt that a small group of thoughtful, committed citizens can change the world. Indeed, it is the only thing that ever has."</em>
							</p>
							<p>
								Are you interested in the Flocktown Farm project, in one way, shape, or form? Have some resources in mind that might push the project to the next level?  Please shoot us an <%= mail_to "openaec@openingdesign.com", "email", :encode => "javascript"%>. We are just starting this journey and look forward to any future partnerships.
							</p>
							<p class = "gray">
								-the folks at LiMN ARCHITECTS and The PalmerFoundation
							</p>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>